* {
    box-sizing: border-box;
}

body {
    background-image: url("./images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    max-height:120vh;
}

.container {
    width:35%;
    background-color: white;
    height: 780px;
    margin-top: 5em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.8em 2.5em 1.8em 2.5em;
    background-image: url(./images/bg.jpg);
    background-size: contain;
    background-position: initial;
    background-repeat: no-repeat;
    
    border-radius: 20px;
    box-shadow: 7px 5px 10em black, -7px 5px 10em black;
}
@media screen and (max-width:680px) {
    .container {
        width: 70%;
        
    }
}
@media screen and (max-width: 980px) and (min-width:680px) {
    .container {
        width: 50%;
    }
}
.container h3 {
text-transform: uppercase;

}
.container form {
    display:flex;
    flex-direction: column;
    width:100%;
    
    
}
.container form input:not([type="submit"]) {
    background-color: #e7e7e7;
    border: none;
     margin-bottom: 1em;
     border-radius: 16px;
     padding:20px;
}
.button {
    width: 8em;
    background-color: rgb(100, 149, 237);
    border:none;
    padding:15px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
.button:hover {
    background-color: #4c88f7;
}